.footer {
  &-line {
    margin-top: auto;

    &_green {
      background-color: $theme-green;
      height: 40px;

      @media (max-width: $break-point-xs) {
        height: 20px;
      }
    }

    &_black {
      background-color: $theme-dark-gray;
      height: 20px;

      @media (max-width: $break-point-xs) {
        height: 10px;
      }
    }
  }
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: $space-base-size * 4;
  padding-bottom: $space-base-size * 6;
  font-size: 14px;
  color: $theme-dark-gray;

  @media (max-width: $break-point-xs) {
    padding-top: $space-base-size * 3;
    padding-bottom: $space-base-size * 4;
  }
}
