.navbar {
  border-bottom: solid #eee 1px;
  padding-left: $space-base-size * 1.5;
  padding-right: $space-base-size * 0.5;

  .container {
    max-width: 1200px;
  }

  &-brand {
    line-height: 52px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .button {
    width: 85px;
    color: inherit;
  }
}
