// theme colors
$theme-green: #74cfae;
$theme-white: #ffffff;
$theme-light-gray: #f2f2f2;
$theme-gray: #c0c0c0;
$theme-dark-gray: #4e4e4e;

// spaces
$space-base-size: 8px !default;

// break points
$break-point-minimum: 320px;
$break-point-xs: 480px;
$break-point-s: 770px;
$break-point-m: 992px;
$break-point-l: 1200px;
