.p-index {
  width: 100%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (max-width: $break-point-xs) {
    padding-top: 80px;
  }

  .title {
    font-size: 72px;
    font-weight: 700;
    padding-bottom: $space-base-size * 2;
    letter-spacing: 3px;
    color: $theme-green;

    @media (max-width: $break-point-xs) {
      font-size: 60px;
      letter-spacing: 1px;
    }
  }

  .subtitle {
    font-size: 32px;
    font-weight: 400;
    color: $theme-gray;

    @media (max-width: $break-point-xs) {
      font-size: 24px;
    }
  }

  .buttons {
    justify-content: center;
    align-items: center;
    margin-top: $space-base-size * 6;

    .button-link {
      width: 140px;
      height: 52px;
      margin: 0px 7px 20px;
      padding: 12px 30px;
      font-size: 18px;
      font-weight: 500;
      border: 2px solid transparent;
      border-radius: 0px;
      color: $theme-green;
      background-color: $theme-white;
      border-color: $theme-green;

      &:hover,
      &:focus {
        color: $theme-white;
        background-color: $theme-green;
        text-decoration: none;
      }
    }
  }
}
